<html>
  <head>
    <title>Vue.js School</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body style="font-family: sans-serif; background-color: #fffdd0">
    <div id="app">
      <header>
        <h1 v-text="sitename"></h1>
        <button v-on:click="showCheckout">
          {{cartItemCount}}
          <span class="fas fa-cart-plus" style="font-size: 30px"></span>
        </button>
      </header>
      <main>
        <div
          style="
            display: inline-block;
            margin: 10px;
            width: 310px;
            height: 220px;
            border: 1px solid black;
            border-radius: 10%;
            padding: 10px;
            background-color: #617c58;
          "
          v-if="showProduct"
        >
          <div style="width: 150px; height: 160px; display: inline-block">
            <h2 v-text="product.title"></h2>
            <p v-html="product.location"></p>
            <p>Price: {{product.price}}</p>
            <p>Space: {{product.space}}</p>
            <button id="button" v-on:click="addToCart" v-if="canAddToCart">
              Add to Cart
            </button>
            <button disabled="disabled" v-else>Add to Cart</button>
          </div>
          <div style="width: 150px; height: 160px; display: inline-block">
            <figure>
              <img v-bind:src="product.image" width="100%" />
            </figure>
          </div>
        </div>
        <div v-else>
          <h2>Checkout</h2>
          <p>
            <strong>First Name:</strong>
            <input v-model="order.firstName" />
          </p>
          <p>
            <strong>Last Name:</strong>
            <input v-model="order.lastName" />
          </p>
          <p><strong>Address:</strong><input v-model="order.address" /></p>
          <p><strong>City:</strong><input v-model="order.city" /></p>
          <p>
            <strong>State:</strong>
            <ol>
                <li v-for="state in states">{{state}}</li>
            </ol>
          </p>
          <p><strong>Zip/Postal Code:</strong><input v-model="order.zip" /></p>
          <p>
            <input
              type="checkbox"
              id="gift"
              value="true"
              v-model="order.gift"
              v-bind:true-value="order.sendGift"
              v-bind:false-value="order.dontSendGift"
            /><label for="gift">Ship As Gift?</label>
          </p>
          <p>
            <input
              type="radio"
              id="home"
              value="Home"
              v-model="order.method"
            /><label for="home">Home</label
            ><input
              type="radio"
              id="business"
              value="Business"
              v-model="order.method"
            /><label for="business">Business</label>
          </p>
          <h2>Order Information</h2>
          <p>First Name: {{order.firstName}}</p>
          <p>Last Name: {{order.lastName}}</p>
          <p>Address: {{order.address}}</p>
          <p>City: {{order.city}}</p>
          <p>Zip: {{order.zip}}</p>
          <p>State: {{order.state}}</p>
          <p>Gift: {{order.gift}}</p>
          <p>Method: {{order.method}}</p>
          <button v-on:click="submitForm">Place Order</button>
        </div>
      </main>
    </div>
    <script type="text/javascript">
      var webstore = new Vue({
        el: "#app",
        data: {
          sitename: "Vue.js School",
          product: {
            id: 1001,
            title: "Biology",
            location: "Dubai",
            price: 2000,
            image: "images/Biology.png",
            space: 5,
          },
          order: {
            firstName: "",
            lastName: "",
            address: "",
            city: "",
            state: "",
            zip: "",
            method: "Home",
            gift: "Send as a gift",
            sendGift: "Send as a gift",
            dontSendGift: "Do not send as a gift",
          },
          states: ["Alabama", "Alaska", "Arizona", "California", "Nevada"],
          cart: [],
          showProduct: true,
        },
        methods: {
          addToCart: function () {
            let newS = this.product.space;
            if (newS > 0) {
              this.product.space = newS - 1;
              this.cart.push(this.product.id);
            }
            // if (this.product.space==0){
            //     document.getElementById("button").style.visibility="hidden";
            // }
          },
          showCheckout() {
            this.showProduct = this.showProduct ? false : true;
          },
          submitForm() {
            alert("Order Submitted");
          },
        },
        computed: {
          cartItemCount: function () {
            return this.cart.length || "";
          },
          canAddToCart() {
            return this.product.space > 0;
          },
        },
      });
    </script>
  </body>
</html>
